<h1>Home Page - locations#home</h1>

<div id="user_nav">
  <% if current_user %>
  Welcome, <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
  <% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
</div>


<%= form_tag map_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>