<div class="show-page">
<div class="whole-body clearfix">

 <!-- stuff to the right of the page  -->
  <div class="right-body">
    <h2 class="location-address"><%= @location.address %></h2>
    <div id="map" class="review-map"></div>
    <div class="nearby">
      <h3 class="reviews">Nearby locations</h3>
      <ul class="reviews">
      <% for location in @location.nearbys(10) %>
      <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
      <% end %>
      </ul>
    </div>
  </div>


<!-- stuff to the left of the page -->
<div class="left-body">
<% if @reviews.length >= 1 %>
  <h2 class="reviews">Average Rating</h2>
  <%= @rating.round(2) %>
<% else %>
  <h2 class="reviews">Be the first to review this bathroom! Please? We'll give you a sticker.</h2>
<% end %>



<% if @user.name == "guest" %>
<!-- <h1 class="reviews"><%#= @user.name %></h1> -->

<% else %>

<!-- <h1 class="reviews"><%= @user.name %></h1> -->

<% if flash[:notice] %>
<div class="notice">
<%= flash[:notice] %>

</div>
<% end %>
<div  id="review-input">
<%= form_for [@location, @review] do |r| %>
  <%= r.label :review %><br>
  <%= r.text_field :body, :class => "text_field" %><br>
  <span class="rating">
  <%= r.radio_button :rating, 1, {class: "rating"}  %>
  <%= r.radio_button :rating, 2, {class: "rating"}  %>
  <%= r.radio_button :rating, 3, {class: "rating"}  %>
  <%= r.radio_button :rating, 4, {class: "rating"}  %>
  <%= r.radio_button :rating, 5, {class: "rating"}  %>
  </span>
  <br>
  <%= r.submit %>
<% end %>
</div>



<% end %>
<div class="comment-box">
  <ul class="reviews-comments">
    <h2 class="reviews-h2">Reviews:</h2>
    <% unless @reviews.length >= 1 %>
    <img src="http://i.imgur.com/JAbQKFh.png?1">
    <% end %>
    <% @reviews.each do |review| %>
    <div class="wrap">
      <li><p>Review: <%= review.body %></p></li>
      <li><p>Rating: <%= review.rating %></p></li>
      <li><p>Created: <%= review.created_at.pretty %></p></li>
      <% if current_user == review.user %>
        <li><%= link_to "Delete Review", [review.location, review], method: :delete %></li>
      <% end %>
    </div>
    <%end%>
  </ul>
</div>


<script type="text/javascript">
  var page = "show";
  initialize();
</script>
</div>
</div>
</div>
