<div class="whole-body clearfix">

 <!-- stuff to the right of the page  -->
  <div class="right-body">
    <h2 class="location-address"><%= @location.address %></h2>
    <div id="map" class="review-map"></div>
    <div class="nearby">
      <h3 class="reviews">Nearby locations</h3>
      <ul class="reviews">
      <% for location in @location.nearbys(10) %>
      <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
      <% end %>
      </ul>
    </div>
  </div>


<!-- stuff to the left of the page -->
<div class="left-body">
  <h2 class="reviews-rating">Average Rating: <%= @rating.round(2) %></h2>
<!-- guest -->
  <% if @user.name == "guest" %>
      <h1 class="reviews"><%= @user.name %></h1>
  <% else %>
<!-- signed in -->
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
<!-- review form -->
    <div  id="review-input">
      <%= form_for [@location, @review] do |r| %>
      <%= r.label :review %><br>
      <%= r.text_field :body, :class => "text_field" %><br>
      <span class="rating-button">
        <%= r.radio_button :rating, 1, {class: "rating"}  %>
        <%= r.radio_button :rating, 2, {class: "rating"}  %>
        <%= r.radio_button :rating, 3, {class: "rating"}  %>
        <%= r.radio_button :rating, 4, {class: "rating"}  %>
        <%= r.radio_button :rating, 5, {class: "rating"}  %>
      </span><br>
        <div class="submit"><%= r.submit %></div>
  <% end %>
    </div>
  <% end %>


    <div class="comment-box" style="width:400px;height:400px;overflow:auto;padding:5px;">
      <ul class="reviews-comments">
      <h2 class="reviews">Reviews:</h2>
      <% @reviews.each do |review| %>
        <div class="wrap">
          <li><%= review.body %></li>
          <li>Rating: <%= review.rating %></li>
          <li><p>Created at: <%= review.created_at.pretty %></p></li>
        </div>
      <%end%>
      </ul>
    </div>

    <script type="text/javascript">
      var page = "show";
      initialize();
    </script>
  </div>
</div>
