<div id="map"></div>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.lat}%2C#{@location.long}" %>
<h3>Nearby locations</h3>
<ul>
<% for location in @location.nearbys(10) %>
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul>


<% if @user.name == "guest" %>
<h1><%= @user.name %></h1>


<ul>
 <% @reviews.each do |review| %>
 	<li><%= review.body %></li>
 	<li><%= review.rating %></li>
 <%end%>
</ul>

<h2>Average Rating</h2>
<%= @rating %>

<% else %>

<h1><%= @user.name %></h1>
<%= form_for [@location, @review] do |r| %>
  <%= r.label :review %><br>
  <%= r.text_field :body %><br>
  <!-- <span class="star-cb-group"> -->
  <%= r.radio_button :rating, 1, {class: "test"} %>
  <%= r.radio_button :rating, 2, {class: "test"}  %>
  <%= r.radio_button :rating, 3, {class: "test"}  %>
  <%= r.radio_button :rating, 4, {class: "test"}  %>
  <%= r.radio_button :rating, 5, {class: "test"}  %>
  </span>
  <br>
  <%= r.submit %>
<% end %>

<ul>
 <% @reviews.each do |review| %>
   <li><%= review.body %></li>
   <li><%= review.rating %></li>
 <%end%>
</ul>

<h2>Average Rating</h2>
<%= @rating.round(2) %>

<% end %>
