<div class="whole-body">
<div class="right-body">
<div id="map" class="review-map"></div>
<div class="nearby">
<h3>Nearby locations</h3>
<ul class="reviews">
<% for location in @location.nearbys(10) %>
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul>
</div>

</div>



<div class="left-body">
<h2 class="reviews"><%= @location.address %></h2>
<% if @reviews.length >= 1 %>
  <h2 class="reviews">Average Rating</h2>
  <%= @rating.round(2) %>
<% else %>
  <h2 class="reviews">Be the first to review this bathroom! Please? We'll give you a sticker.</h2>
<% end %>


<% if @user.name == "guest" %>
<h1 class="reviews"><%= @user.name %></h1>

<ul class="reviews-guest">
 <% @reviews.each do |review| %>
   <li><p>Review: <%= review.body %></p></li>
   <li><p>Rating: <%= review.rating %></p></li>
   <li><p>Created: <%= review.created_at.pretty %></p></li>
 <%end%>
</ul>


<h2 class="reviews">Average Rating</h2>
<%= @rating.round(2) %>

<% else %>

<!-- <h1 class="reviews"><%= @user.name %></h1> -->

<% if flash[:notice] %>
<div class="notice">
<%= flash[:notice] %>

</div>
<% end %>
<div  id="review-input">
<%= form_for [@location, @review] do |r| %>
  <%= r.label :review %><br>
  <%= r.text_field :body, :class => "text_field" %><br>
  <span class="rating">
  <%= r.radio_button :rating, 1, {class: "rating"}  %>
  <%= r.radio_button :rating, 2, {class: "rating"}  %>
  <%= r.radio_button :rating, 3, {class: "rating"}  %>
  <%= r.radio_button :rating, 4, {class: "rating"}  %>
  <%= r.radio_button :rating, 5, {class: "rating"}  %>
  </span>
  <br>
  <%= r.submit %>
<% end %>
</div>

<div class="comment-box" style="width:400px;height:400px;overflow:auto;padding:5px;">
  <ul class="reviews-signed-in">
    <h2 class="reviews">Reviews:</h2>
    <% @reviews.each do |review| %>
      <li><p>Review: <%= review.body %></p></li>
      <li><p>Rating: <%= review.rating %></p></li>
      <li><p>Created: <%= review.created_at.pretty %></p></li>
      <% if current_user == review.user %>
        <li><%= link_to "Delete Review", [review.location, review], method: :delete %></li>
      <% end %>
    <%end%>
  </ul>
</div>

<% end %>


<script type="text/javascript">
  var page = "show";
  initialize();
</script>
</div>
</div>
